
					
					<div class="col-md-10 p-0">
						<img src="images/blogging.png" class="img-responsive">
						<div class="container">
							<div class="col-md-3 hidden-sm">
							</div>
							
							<div class="col-md-6 col-sm-12 bg-light blue border-radius-10">
								<h2 class="text-center"> Create Blog</h2>
								<div class="mt-20">
									<form action="" method="">
										<div class="form-group">
										  <label for="usr">Blog Heading:</label>
										  <input type="text" ng-model="blogPost.blogTitle" class="form-control" id="usr" required>
										</div>
										<div class="form-group">
													  <label for="comment">Blog description:</label>
													  <textarea class="form-control" ng-model="blogPost.description" rows="5" id="comment" required></textarea>
										</div>
										<div class="form-group text-center">
											<input type="submit" ng-click="addBlogPost()" class="btn btn-primary" value="Create Blog">
											
										</div>	
									</form>
								</div>
							</div>
							<div class="col-md-3 hidden-sm">
							</div>
						</div>
					</div>
				</div>
			
			
			</div>
			
			