
					<div class="col-md-10 p-5">
						<img src="images/chatting.png" class="img-responsive">
						<div class="container">
							<div class="col-md-3 hidden-sm">
							</div>
							
							<div class="col-md-6 col-sm-12 bg-grey border-radius-10">
								<h2 class="text-center"> Chat</h2>
								<div class="mt-20">
									<form role="form" id="chatForm" ng-submit="sendMessage(chat)">
                                 <div class="alert alert-info notification" id="joinedChat" ng-if="latestUser" ng-animate="{enter: 'fade', leave: 'fade'}">
                                            {{latestUser}} has joined the chat!
                                  </div>
										<div class="form-group">
										  <label for="to">Send To:</label>
										  <select class="form-control" id="to" name="to" ng-model="chat.to">
											<option value="">Select Recipient</option>
											<option value="all">All Users</option>
											<option ng-repeat="user in users" value="{{user}}" ng-hide="currentUser.username==user">{{capitalize(user)}}</option>
										  </select>
										</div>
										<div class="form-group">
													  <label for="comment">Message</label>
													  <textarea class="form-control" name="message" placeholder="Please type Message here" rows="5" id="comment" ng-model="chat.message"></textarea>
										</div>
										<div class="form-group text-center">
											<input type="submit" ng-focus="focus-on-click" name="send" class="btn btn-primary" value="Send..">
											
										</div>	
									</form>
								</div>
							</div>
							<div class="col-md-3 hidden-sm">
							</div>
						</div>
						
						<div class="mb-100">
							<div class="row">
   		                        <div class="col-md-12" id="chats" >
	   			                    <div ng-repeat="chat in chats | reverse" class="chat {{chat.direction}}" ng-class="{'broadcast': chat.broadcast}">
	          	          	               <span class="from">
							        	                {{chat.from}}
							       		    <small ng-if="chat.broadcast">BROADCAST</small>
							              </span>
							        <span class="message">{{chat.message}}</span>
		                             </div>
   		                         </div>
   		
                            </div>	
								
						</div>
					</div>
				</div>
			
			
			</div>
			
		